

<p id="notice"><%= notice %></p>




<div class="col-md-12 border-bottom border-dark">
            
        
        <h1>Titles</h1>

        

</div>



    
    <div class="col-md-12">
                    

            
            <div class="records pt-5">  
                
                <% @records.limit(24).order(:id).each_slice(4) do |slice| %>
                <div class="row">
                    <% slice.each do |record| %>
                        <div class="col-6 col-md-3">
                            <div class="card">

                            
                                    <% if record.album_cover.attached? %>
                                        <img src="<%=(url_for(record.album_cover))%>" class="card-img-top">
                                    <% end %>

                                <div class="card-body">
                                        <div class="card-title">
                                            <h3><%= record.title %></h3>
                                            <h5><%= record.artist %></h3>
                                        </div>

                                    
                        
                                        
                                    
                                    <%= link_to 'More Details', record, :class =>"button", :role=>"button" %>
                                    

                                
                                
                                    
                                    
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-5">
                                            <%= number_to_currency(record.price, :unit => "€") %>
                                        </div>
                                        <div class="col-3 pl-1">
                                        <%= button_to 'Add To Cart', line_items_path(record_id: record, :class => "btn-submit") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <% end %>
                    
                </div>
            <% end %>
        </div>


    </div>
            
        

