<p id="notice"><%= notice %></p>

        <div class="col-3">
        </div>

        <div class="col-4">

            <div class="card">
                            
                        <% if @record.album_cover.attached? %>
                                <img src="<%=(url_for(@record.album_cover))%>" class="card-img-top">
                        <% end %>
                            
                        <div class="card-body">
                                <div class="card-title">
                                
                                    <h4><%= @record.title %></h4>
                                    <h5><%= @record.artist %></h5>
                                    <p><%= @record.year %></p>
                                    <p><%= @record.description %></p>
                                </div>

                
                                
                            
                            
                            

                        
                        
                            
                            
                            </p>
                        </div>
                        <div class="card-footer">
                            <%= number_to_currency(@record.price, :unit => "€") %>

                          <%= button_to 'Add To Cart', line_items_path(record_id: @record) %>
                        </div>
                    </div>
                    </div>
          </div>
      <div class="col-5">
      </div>