<p id="notice"><%= notice %></p>



<div class="col-md-12 border-bottom border-dark">
            
        
        <h1>Your Orders</h1>

        

</div>


    <div class="col-md-12">


<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.username %>
</p>



<div class="row">
<div class="col-6">
<table id="customers">
    
    <% @order.order_items.each do |id,quantity| %>
      <tr>
        <% item = @order.order_items.find_by_id(id) %>
       
        <td><h5><%= item.title %></h5></td>

        <td><h6><%= item.artist %></h6></td>

        
        <td><%= item.quantity %></td>
        
   
       <td><%=number_to_currency(item.price, :unit => "€")%></td> 

       
       
       </tr>
       
      
     
    <%end%>
    
    
   

       
      </tr>
</table>
</div>
</div>



    <h3>Your Total: </h3>

    <h1><%= number_to_currency(@order.total_price, :unit => "€") %></h1>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>


    <div class="col-md-12">

