<div class="col-md-12 pt-5 border-bottom border-dark">
            
        
        <h1>Featured Records</h1>

        

</div>





 <div class="col-md-12">




  <div class="records pt-3">  
        <% @records.limit(16).order(:id).each_slice(4) do |slice| %>
        <div class="row">
            <% slice.each do |record| %>
                <div class="col-6 col-md-3">
                    <div class="card">
                            
                                    <% if record.album_cover.attached? %>
                                        <img src="<%=(url_for(record.album_cover))%>" class="card-img-top">
                                    <% end %>
                            
                        <div class="card-body">
                                <div class="card-title">
                                
                                    <h5><%= record.title %></h5>
                                    <h6><%= record.artist %></h6>
                                </div>

                
                                
                            
                            <%= link_to 'More Details', record, :class =>"button", :role=>"button" %>
                            

                        
                        
                            
                            
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                               
                                    <%= number_to_currency(record.price, :unit => "€") %>
                            
                            </div>
                            <div class="row">
                                
                                    <%= button_to 'Add To Cart', line_items_path(record_id: record, :class => "btn-submit") %>
                               
                            </div>
                        </div>
                    </div>
                    </div>
                <% end %>
            
        </div>
    <% end %>

</div>
